<h1 style="text-align: center;">Update Teacher</h1>
<%= render partial: 'layouts/form', locals: { data: @teacher, action: 'update'} %>
<br>
<div class="back-btn" style="text-align: center;">
    <%= link_to 'Back', teacher_index_path , style:"text-decoration: none;border: 1px black solid;border-radius: 8px;font-weight: bold;padding: 4px 8px;color: black;background-color: aqua;"%>
</div>
