<h1 style="text-align: center;">Teacher's</h1>
<% if @teachers.empty? %>
<p style="text-align: center;">There is no teacher's data available. </p>
<% else %>
<%  @teachers.each do |teacher| %>
<div class="name" style="text-align: center;padding: 5px;">
    <%= teacher.name %>
    <% if can? :manage, teacher %>
    <%= link_to 'Show', teacher, style:"text-decoration: none;border: 1px black solid;border-radius: 8px;font-weight: bold;padding: 3px 6px;color: black;background-color: aqua;" %>
    <% end %>
</div>
<% end %>
<% end %>
<br><br>
<div class="add-btn" style="text-align: center;">
    <%= link_to 'Add', new_teacher_path, style:"text-decoration: none;border: 1px black solid;border-radius: 8px;font-weight: bold;padding: 4px 8px;color: black;background-color: aqua;" %>
</div>