<div class="data-container">
    <div class="data">
        <label style="width: 100px;">Name</label>
        <span> : </span>
        <%= data.name %>
        <br><br>
        <label style="width: 100px;">Date Of Birth</label>
        <span> : </span>
        <%= data.dob %>
        <br><br>
        <label style="width: 100px;">Address</label>
        <span> : </span>
        <%= data.address %>
        <br><br>
        <label style="width: 100px;">Phone</label>
        <span> : </span>
        <%= data.phone %>
        <br>
    </div>    
</div>